FIREBASE_WEB_API_KEY = 
FIREBASE_WEB_APPID = 
FIREBASE_WEB_AUTH_DOMAIN = 
FIREBASE_WEB_STORAGE_BUCKET = 

FIREBASE_ANDROID_API_KEY = 
FIREBASE_ANDROID_APPID = 
FIREBASE_ANDROID_AUTH_DOMAIN = 
FIREBASE_ANDROID_STORAGE_BUCKET = 